strong {
	font-weight: 800;
}



.text_section {
	width: 70%;
	margin: 50px auto 10px;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 50px;
}

.text_section p {
	padding-top: 10px;
	line-height: 1.63;
}

.text_section__container {
	width: 75%;
}

.text_section__title {
	font-size: 54px;
	font-weight: 800;
	color: #fff;
	margin: 30px 0 20px;
}

.text_section__text {

}

.text_section__list {
	font-size: 12px;
	line-height: 18px;
}


@media screen and (max-width: 860px) {
	.text_section__title {
		font-size: 32px;
		line-height: 35px;
		font-weight: 800;
		color: #fff;
	}
}
